/* The side navigation menu */
.sidebar {
  margin-top: 50px;
  padding: 0;
  width: 200px;
  background-color: white;
  text-align: center;
  font-size: 22px;
  flex: 0 0 200px; /* Sidebar width and not allowed to grow or shrink */
  overflow: auto;
  font-family: Arial;
  height: 100vh;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #7c7c7d;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  font-weight: bold;
  color: #121213;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #4a4a4b;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.container-fluid, .row {
  height: 100%; /* Ensures that container and row are also taking full height */
}

.center {
  text-align: center;
}

.lesson_photo{
  width: 50%;
  height: auto;
}