/* The side navigation menu */
body {

}

.sidebar {
  margin-top: 50px;
  padding: 0;
  width: 200px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  flex: 0 0 200px; /* Sidebar width and not allowed to grow or shrink */
  overflow: auto;
  font-family: Arial;
  height: 100vh;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #7c7c7d;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  font-weight: bold;
  color: #383838;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #4a4a4b;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.container-fluid, .row {
  height: 100%; /* Ensures that container and row are also taking full height */
}

.center {
  text-align: center;
}

.lesson_photo{
  width: 50%;
  height: auto;
}

.hero-text {
  margin-top: 60px;
  font-size: 80px;
  font-family: Arial;
}

.hero-subtext {
  margin-top: 10px;
  font-size: 28px;
  font-family: Arial;
}

.button-green {
  margin-top: 30px;
  color: white;
  background-color: rgb(49, 145, 49);
  height: 50px;
  width: 180px;
  padding: 5px;
  font-size: 24px;
  border-radius: 5px;
  transition: transform 1s;
}

.button-green:hover {
  background-color: rgb(49, 120, 49);
  color: white;
  transform: scale(1.05);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
  gap: 20px; /* Adds space between grid items */
  padding: 10px; /* Padding around the grid container */
}

.nav-link {
  background-color: #f8f9fa; /* Light grey background for the links */
  text-align: center; /* Center-aligns the text within the links */
  padding: 10px;
  border-radius: 5px; /* Rounds the corners of the link boxes */
  text-decoration: none; /* Removes underline from the links */
  color: black; /* Sets the text color */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.nav-link:hover {
  background-color: #f8f9fa; /* Changes background color on hover */
  color: limegreen; /* Changes background color on hover to light green */

}
.topics {
  margin-top: 100px;
  font-family: sans-serif;
}

.button-green-2 {
  background-color: rgb(49, 140, 49);
  color: white;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
}

.button-green-2:hover {
  background-color: rgb(49, 120, 49);
  color: white;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 20px; /* Define initial font properties if needed */
  color: #545455 !important; /* Set default color for the brand */
  transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-brand:hover {
  color: limegreen !important; /* Hover color to match the links */
}

.content-text {
  font-size: 18px;
  font-family: Arial;
  padding: 20px;
  width: auto;
  justify-content: center;
}

.content {
  margin: auto;
  width: auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.media {
  width: inherit;
  height: 200px;
  margin-bottom: 20px;
}

.quiz-form {
    font-family: Arial, sans-serif; /* Sets a nice, readable font */
    max-width: 800px; /* Limits the maximum width of the form */
    margin: auto; /* Centers the form horizontally */
    padding: 20px;
    background-color: #f4f4f4; /* A light gray background */
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow */
}

.question {
    margin-bottom: 20px; /* Adds space between questions */
}

.question-text {
    font-size: 20px; /* Sets the text size for questions */
    color: #333; /* Dark gray color for better readability */
}

.options {
    margin-top: 10px;
}

.option {
    background-color: rgb(0, 128, 0);
    color: white; /* White text color */
    border: none; /* Removes border */
    border-radius: 5px; /* Rounded corners for buttons */
    padding: 10px 20px; /* Padding inside the buttons */
    margin-right: 10px; /* Space between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-size: 13px;
    margin: 5px;
}

.option:hover {
    background-color: rgb(49, 120, 49);
}

.feedback {
    margin-top: 5px;
    color: red; /* Feedback color, can change based on your preference */
    min-height: 20px; /* Ensures feedback area has space */
}

.l {
    color: black;
}

.iframe_styling{
    width: 320px; 
    height: 450px;
    display: block;
    margin: auto;
}

/* Remove arrow next to dropdown in navbar*/
.navbar .dropdown-toggle::after {
    display: none;
}

.quiz-retry {
    background-color: rgb(49, 120, 49);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px auto; /* Auto margins on both sides to center the buttons horizontally */
    font-size: 22px;
    text-align: center; /* Center the text horizontally */
    display: block; /* Make each link a block element */
    width: 80%; /* Adjust width as needed or use a fixed width */
    text-decoration: none;
}
.quiz-retry:active {
    color: white;
}