{% extends "layout_sidebar.html" %}
{% block content %}
<div class="center">
    <h1>{{ content.title }}</h1>
    <p>{{ content.text_content }}</p>
    <!-- Content Media Goes Here -->
    <div class="text-right">
        {% if class_name == "stocks" %}
        {% else %}
            <a href="{{ url_for('class_info', class_name=content.prev) }}" class="btn button-green-2">
                < {{ content.prev | capitalize }} <i class="fas fa-arrow-right"></i>
            </a>
        {% endif %}
        {% if content.module == 'basics' %}
            <a href="{{ url_for('class_info', class_name=content.next) }}" class="btn button-green-2">
                {{ content.next | capitalize }} ><i class="fas fa-arrow-right"></i>
            </a>
        {% else %}
            <a href="{{ url_for('quiz_info', quiz_name=content.next) }}" class="btn button-green-2">
            {{ content.next | capitalize }} ><i class="fas fa-arrow-right"></i>
        </a>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}


