{% extends "layout_sidebar.html" %}
{% block content %}

<script>


console.log("HELLO! class_quiz.js");


function updateQuizScore(quizName) {
    $.ajax({
        type: "POST",
        url: "/update_quiz_score",
        data: JSON.stringify({ quiz_name: quizName }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(response) {
            if(response.success) {
                window.location.href = "/results";  // Redirect to the results page
            } else {
                alert("Failed to update score.");
            }
        },
        error: function(err) {
            console.log(err);
        }
    });
}



</script>

<h1>{{ content.title }}</h1>
<div class="mt-4 mb-5">
    <h2>Class Quiz</h2>
</div>


<button onclick="updateQuizScore('risk_vs_reward')">Submit Quiz</button>




{% endblock %}
