{% extends "layout.html" %}
{% block content %}
<div class="center">
    <div class="content">
        <h1 class="title">{{ content.title }}</h1>
        <iframe class='iframe_styling media' src="{{content.media_content}}" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
        <!-- Content Media Goes Here -->
        <p class="content-text">{{ content.text_content }}</p>

        {% if class_name == "stocks" %}
            <a href="{{ url_for('class_info', class_name=content.next) }}" class="btn button-green-2">
                {{ content.next | capitalize }} <i class="fas fa-arrow-right"></i>
            </a>
        {% else %}
            {# Previous item is a class, otherwise a quiz #}
            {% if content.prev_module == "classes_content" %}
                <a href="{{ url_for('class_info', class_name=content.prev) }}" class="btn button-green-2 mr-2">
                    <i class="fas fa-arrow-left"></i> {{ content.prev | capitalize }}
                </a>
            {% else %}
                <a href="{{ url_for('quiz_info', quiz_name=content.prev) }}" class="btn button-green-2 mr-2">
                    <i class="fas fa-arrow-left"></i> {{ content.prev | capitalize }}
                </a>
            {% endif %} <!-- End of previous item condition -->

            {#  Next item is a class, otherwise a quiz #}
            {% if content.next_module == "classes_content" %}
                <a href="{{ url_for('class_info', class_name=content.next) }}" class="btn button-green-2">
                    {{ content.next | capitalize }} <i class="fas fa-arrow-right"></i>
                </a>
            {% else %}
                <a href="{{ url_for('quiz_info', quiz_name=content.next) }}" class="btn button-green-2">
                    {{ content.next | capitalize }} <i class="fas fa-arrow-right"></i>
                </a>
            {% endif %} <!-- End of next item condition -->
        {% endif %} <!-- End of stocks condition -->
    </div>
</div>
<br>
{% endblock %}