{% extends "layout.html" %}
{% block content %}
<div class="center">
    <h1 class="hero-text">invesTIPS</h1>
    <p class="hero-subtext">Bite-Sized Investing Content. Let’s Go.</p>
    <a class="btn button-green" href="{{ url_for('class_info', class_name='stocks') }}">Start Now</a>

    <div id = "intro_styling">
        <iframe class='iframe_styling media' src="https://www.youtube.com/embed/KkDkViMzQN8" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>

    </div>
    

</div>
<br>
{% endblock %}
