{% extends "layout_sidebar.html" %}
{% block content %}
<div class="center">
    <h1>{{ content.title }}</h1>
    <p>{{ content.text_content }}</p>
    <form id="popQuizForm" action="{{ url_for('submit_pop_quiz', quiz_name=content.title) }}" method="post">
        {% for option in content.answer_content %}
        <div>
            <input type="radio" name="selected_option" value="{{ loop.index0 }}" id="option{{ loop.index0 }}">
            <label for="option{{ loop.index0 }}">{{ option.option }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="explanation"></div>
</div>
<br>
{% endblock %}
#gil