{% extends "layout_sidebar.html" %}
{% block content %}
<div class="center">
    <h1>{{ content.title }}</h1>
    <div id="quizForm">
        {% for question in content.questions %}
        <div class="question">
            <p>{{ question.question_text }}</p>
            <div class="options">
                {% for option in question.options %}
                <button class="option"
                        onclick="checkAnswer('{{ option }}', '{{ question.solution }}', this)">
                    {{ option }}
                </button>
                {% endfor %}
            </div>
            <div class="feedback" id="feedback_{{ loop.index0 }}"></div>
        </div>
        {% endfor %}
    </div>
    <!-- Navigation and results links, similar to before -->
    <div class="text-right">
        {% if content.title == "Final Quiz" %}
        <a href="{{ url_for('results') }}" class="btn button-green-2">
            See results > <i class="fas fa-arrow-right"></i>
        </a>
        {% elif content.next == "Final Quiz" %}
        <a href="{{ url_for('class_info', class_name=content.prev) }}" class="btn button-green-2">
            < {{ content.prev | capitalize }}  <i class="fas fa-arrow-right"></i>
        </a>
        <a href="{{ url_for('quiz_info', quiz_name=content.next) }}" class="btn button-green-2">
            {{ content.next | capitalize }} <i class="fas fa-arrow-right"></i>
        </a>
        {% else %}
        <a href="{{ url_for('class_info', class_name=content.prev) }}" class="btn button-green-2">
            < {{ content.prev | capitalize }} <i class="fas fa-arrow-right"></i>
        </a>
        <a href="{{ url_for('class_info', class_name=content.next) }}" class="btn button-green-2">
            {{ content.next | capitalize }} ><i class="fas fa-arrow-right"></i>
        </a>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}
